.mui-file-input-container {
  position: relative;
}

.mui-file-input {
  position: absolute;
  width:    100%;
  bottom:   0px;
  left:     0px;
  z-index:  1;
}

.mui-file-input button {
  width: 100%;
}

.mui-file-input-container input.file-input {
  position: relative;
  left:     -2000px;
}

.mui-file-input-image {
  width:  100%;
  height: 0;
}

.mui-file-input-image-visible {
  height:        100%;
  margin-bottom: 24px;
}

.mui-file-input-image-close {
  position: absolute;
  top:      0;
  right:     0;
}