@import "../../node_modules/material-ui/src/less/scaffolding";
@import "../../node_modules/material-ui/src/less/components";
@import "_text";

*:focus {
  outline: none;
}

.mui-edit-field {
  position:    relative;
  min-height:  72px;
  font-size:   16px;
  line-height: 24px;
  transition:  height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.mui-edit-field .mui-edit-field-hint,
.mui-edit-field .mui-edit-field-floating-label {
  position:    absolute;
  line-height: 48px;
  font-size:   16px;
  color:       rgba(0, 0, 0, 0.3);
  opacity:     1;
  transition:  all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.mui-edit-field.mui-has-floating-labels .mui-edit-field-floating-label {
  top:              24px;
  transform:        scale(1) translate3d(0, 0, 0);
  transform-origin: left top;
}

.mui-edit-field.mui-has-floating-labels.mui-has-value .mui-edit-field-floating-label,
.mui-edit-field.mui-has-floating-labels.mui-is-focused .mui-edit-field-floating-label {
  transform: scale(.75) translate3d(0, -18px, 0);
}

.mui-edit-field.mui-has-floating-labels.mui-has-value .mui-edit-field-floating-label {
  color: rgba(0, 0, 0, 0.5);
}

.mui-edit-field.mui-has-floating-labels.mui-is-focused .mui-edit-field-floating-label {
  color: #00bcd4;
}

.mui-edit-field.mui-has-floating-labels .mui-edit-field-hint {
  top:     24px;
  opacity: 0;
}

.mui-edit-field.mui-has-floating-labels.mui-is-focused .mui-edit-field-hint {
  opacity: 1;
}

.mui-edit-field.mui-has-floating-labels.mui-is-focused.mui-has-value .mui-edit-field-hint {
  opacity: 0;
}

.mui-edit-field.mui-is-focused .mui-edit-field-focus-underline {
  transform: scaleX(1);
}

.mui-edit-field .mui-edit-field-underline, .mui-edit-field .mui-edit-field-focus-underline {
  position: absolute;
  width:    100%;
  bottom:   8px;
  margin:   0;
}

.mui-edit-field .mui-edit-field-error {
  position:    absolute;
  bottom:      -10px;
  font-size:   12px;
  line-height: 12px;
  color:       #f44336;
  transition:  all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.mui-edit-field .mui-edit-field-focus-underline {
  border-color:        #00bcd4;
  border-bottom-width: 2px;
  transform:           scaleX(0);
  transition:          all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.mui-edit-field.mui-has-error .mui-edit-field-focus-underline {
  border-color: #f44336;
  transform:    scaleX(1);
}

.mui-edit-field .editable {
  position:         relative;
  padding-top:      36px;
  width:            100%;
  border:           none;
  outline:          none;
  background-color: rgba(0, 0, 0, 0);
  color:            rgba(0, 0, 0, 0.87);
  overflow:         hidden;
  font-size:        16px;
  line-height:      24px;
  padding-bottom:   14px;
}

.editable p {
  font: inherit;

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.editable.medium-editor-placeholder:after {
  color:      rgba(0, 0, 0, 0.3);
  font-style: normal;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.page-with-nav {
  @grey-300: #e0e0e0;
  @desktop-keyline-increment: 64px;

  .page-with-nav-secondary-nav {
    border-top: solid 1px @grey-300;
    overflow:   hidden;
  }

  .page-with-nav-content {
    padding:   24px;
    max-width: (@desktop-keyline-increment * 14);
  }

  @media only screen and (min-width: 768px) {
    @subNavWidth: (@desktop-keyline-increment * 3);

    position: relative;

    .page-with-nav-secondary-nav {
      border-top: none;
      position:   absolute;
      top:        @desktop-keyline-increment;
      width:      @subNavWidth;
    }

    .page-with-nav-content {
      margin-left: @subNavWidth;
      border-left: solid 1px @grey-300;
      min-height:  800px;
    }
  }
}

// NEWS

.page-with-nav-content {
  .panel {
    padding: @desktop-gutter;
  }
}

.panel_type_news-create .button_type_save {
  position: absolute;
  bottom:   0;
  right:    0;
}

.list-item {
  margin-bottom: @desktop-gutter / 2;
}

.list-item .panel {
  padding: 0;
}

.list-item__header h5 {
  padding:     0;
  margin:      0 auto;
  line-height: 48px;
}

.list-item__header .mui-switch-wrap .mui-switch {
  float: right;
}

.list-item__title {
  max-width: 400px;
}

.list-item__switcher {
  width: 100px;
}

.list-item__body, .list-item__info {
  display:    none;
  padding:    14px;
  border-top: solid 1px #e0e0e0;
}

.list-item__info {
  background-color: #f0f0f0;
  padding:          7px 14px;
}

.list-item__body {
  background-color: #f8f8f8;
}

.mui-drop-down-menu {
  width: 100%;
}

.mui-drop-down-menu .mui-menu-control .mui-menu-label {
  padding-left: 0;
}

.mui-drop-down-menu .mui-menu-control .mui-menu-drop-down-icon {
  right: 0;
}

.mui-drop-down-menu .mui-menu-control .mui-menu-control-underline {
  margin: 0;
}

.mui-text-field {
  width: 100%;
}

// TAGS FIELD

.tags-field {
  position: relative;
}

.tags-field input {
  padding-right: 32px;
}

.tags-field .tags-filed-item-add {
  position: absolute;
  top:      34px;
  right:    0;
  padding:  0;
}

.tags-field .tags-filed-item-delete {
  padding: 0;
}

.tags-field .tags-filed-item {
  display:      inline-block;
  margin-right: 10px;
}

.tags-field .tags-filed-item-text, .tags-field .tags-filed-item-delete {
  vertical-align: middle;
}

.tags-field .tags-filed-item-text {
  margin-right: 3px;
}

.tags-field .tags-filed-item-delete .mui-icon {
  font-size: 18px;
}

.fadeIn-enter {
  height:    0;
  transform: scale(1, 0);
}

.fadeIn-enter.fadeIn-enter-active {
  height:     48px;
  transform:  scale(1, 1);
  transition: height .1s ease-out, transform .1s ease-out;
}

.fadeIn-leave {
  height:     48px;
  transform:  scale(1, 1);
  transition: height .1s ease-out, transform .1s ease-out;
}

.fadeIn-leave.fadeIn-leave-active {
  height:    0;
  transform: scale(1, 0);
}

@import "_s";

/* Page loader: Corner indicator */
.page-loader {
  position:           fixed;
  top:                0;
  right:              0;
  width:              300px;
  height:             300px;
  background:         #ff4081;
  -webkit-transition: -webkit-transform 0.3s;
  transition:         transform 0.3s;
  -webkit-transform:  translateX(100%) translateY(-100%) rotate(45deg);
  transform:          translateX(100%) translateY(-100%) rotate(45deg);
  pointer-events:     none;
  z-index:            10;
}

.page-loader.page-loader_active {
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
  transform:         translateX(50%) translateY(-50%) rotate(45deg);
}

/* Loading circle idea from http://codepen.io/Metty/details/lgJck */
.page-loader::before,
.page-loader::after {
  position:      absolute;
  bottom:        30px;
  left:          50%;
  display:       block;
  border:        5px solid #fff;
  border-radius: 50%;
  content:       '';
}

.page-loader::before {
  margin-left:        -40px;
  width:              80px;
  height:             80px;
  border-right-color: #bb344f;
  border-left-color:  #bb344f;
  -webkit-animation:  rotation 3s linear infinite;
  animation:          rotation 3s linear infinite;
}

.page-loader::after {
  bottom:              50px;
  margin-left:         -20px;
  width:               40px;
  height:              40px;
  border-top-color:    #bb344f;
  border-bottom-color: #bb344f;
  -webkit-animation:   rotation 1s linear infinite;
  animation:           rotation 1s linear infinite;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mui-menu.mui-menu-hideable {
  z-index: 10;
}